@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
body {
    overflow-x: hidden !important;
}
:root {
    --bg-color: #008b8b25;
    --main-color: #008b8b;
    --dark-color: #1E1E1E;
    --gray-color: #727272;
    --light-color: #FFFFFF;
}

.btn {
    font-weight: 600;
    font-size: 20px;
    color: var(--light-color);
    background: var(--main-color);
    border: none;
    padding: 16px 25px;
    border-radius: 10px;
    border: 4px solid var(--main-color);
    transition: 0.3s linear;
}

.btn:hover {
    color: var(--main-color);
    background: transparent;
    border: 4px solid var(--main-color);
}

/* Header Section */

.header {
    background: var(--bg-color);
    width: 100%;
}
.container{
    max-width: 1440px;
    padding: 0 25px;
    margin: auto;
}


/* Navbar Section */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

nav .nav-logo {
    font-weight: 700;
    font-size: 45px;
}

.nav-logo span {
    color: var(--main-color);
}

.nav-menu ul {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav-menu li a {
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 500;
    font-size: 18px;
}

.banner-content {
    width: 850px;
    text-align: center;
    margin: auto;
}

.banner-title {
    margin-top: 90px;
    font-size: 60px;
    color: var(--dark-color);
}

.description {
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
    line-height: 25px;
    color: var(--gray-color);
}

.banner-img img{
    width: 100%;
    height: auto;
    margin: 40px 0;
}

/* Features Section */

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    padding: 4rem 0;
}
.images-layout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.images-layout img{
    width: 100%;
    height: auto;
}
.gallery-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    font-size: 55px;
    font-weight: 700;
    color: var(--dark-color);
}
.gallery-span-one{
    color: var(--gray-color);
    font-weight: 400;
}
.gallery-span-two{
    color: var(--main-color);
}

/* Features Section */

.features{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    padding: 4rem 0;
    gap: 8rem;
}
.features-content{
    margin-top: 50px;
}
.box{
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(179, 178, 178, 0.171), -4px -4px 8px rgba(241, 241, 241, 0.527);
    padding: 25px;
    overflow: hidden;
    width: 600px;
}
.box-title{
    font-size: 22px;
    font-weight: 700;
}
.box-description{
    font-size: 18px;
    color: var(--gray-color);
    margin-top: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.features-content .title{
    border-left: 6px solid var(--main-color);
    padding: 0 20px;
}

.features-img{
    position: relative;
}
.exp-box{
    background-color: var(--main-color);
    width: 260px;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    bottom: 60px;
    left: -100px;
}
.exp-box h1{
    text-align: center;
    font-size: 50px;
    color: var(--light-color);
}
.exp-box p{
    text-align: center;
    font-size: 25px;
    color: var(--light-color);
}

.features-img img{
    width: 100%;
    height: auto;
}

/* Some Facts Section */
.some-facts{
    padding: 5rem 0;
}
/* .some-facts-box{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
} */

/* .fact-title{
    font-size: 50px;
    color: var(--dark-color);
    margin-top: 10px;

}
.fact-sub-title{
    font-size: 20px;
    font-weight: 700;
    color: var(--gray-color);
    margin-top: 10px;
} */