@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    overflow-x: hidden !important;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

:root {
    --bg-color: #008b8b25;
    --main-color: #008b8b;
    --dark-color: #1E1E1E;
    --gray-color: #727272;
    --light-color: #FFFFFF;
}

.btn {
    font-weight: 600;
    font-size: 20px;
    color: var(--light-color);
    background: var(--main-color);
    border: none;
    padding: 16px 25px;
    border-radius: 10px;
    border: 4px solid var(--main-color);
    transition: 0.3s linear;
}

.btn:hover {
    color: var(--main-color);
    background: transparent;
    border: 4px solid var(--main-color);
}

/* Header Section */

.header {
    background: var(--bg-color);
    width: 100%;
}

.container {
    max-width: 1440px;
    padding: 0 25px;
    margin: auto;
}


/* Navbar Section */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

nav .nav-logo {
    font-weight: 700;
    font-size: 45px;
}

.nav-logo span {
    color: var(--main-color);
}

.nav-menu ul {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav-menu li a {
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 500;
    font-size: 18px;
}

.banner-content {
    width: 850px;
    text-align: center;
    margin: auto;
}

.banner-title {
    margin-top: 90px;
    font-size: 60px;
    color: var(--dark-color);
}

.description {
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
    line-height: 25px;
    color: var(--gray-color);
}

.banner-img img {
    width: 100%;
    height: auto;
    margin: 40px 0;
}

/* Features Section */

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    padding: 4rem 0;
}

.images-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.images-layout img {
    width: 100%;
    height: auto;
}

.gallery-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 55px;
    font-weight: 700;
    color: var(--dark-color);
}

.gallery-span-one {
    color: var(--gray-color);
    font-weight: 400;
}

.gallery-span-two {
    color: var(--main-color);
}

/* Features Section */
.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8rem;
    padding: 4rem 0;
}


.features-title {
    font-weight: 700;
    font-size: 45px;
    color: var(--dark-color);
    border-left: 5px solid var(--main-color);
    padding-left: 20px;
    max-width: 450px;
}

.features-description {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-color);
    margin: 30px 0;
}

.features-box {
    margin: 20px 0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 6px 6px 8px rgba(160, 160, 160, 0.171), -6px -6px 8px rgba(221, 221, 221, 0.233);
}

.features-box h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
    color: var(--dark-color);
}

.features-box p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray-color);
}

.features-button {
    background: var(--main-color);
    padding: 40px 30px;
    text-align: center;
    color: var(--light-color);
    border-radius: 10px;
    position: absolute;
    margin: -5rem -6rem;
}

.features-button h1 {
    font-size: 65px;
    font-weight: 700;
}

.features-button h3 {
    font-weight: 500;
    font-size: 25px;
}

/* Some Facts Section */
.some-facts {
    padding: 5rem 0;
}

.some-facts-box {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    justify-content: space-between;
    gap: 2rem;
    
}

.some-facts-title {
    font-weight: 700;
    font-size: 45px;
    color: var(--dark-color);
}

.some-facts-description {
    font-size: 16px;
    font-weight: 400;
    max-width: 600px;
    color: var(--gray-color);
    margin-bottom: 100px;
}

.fact-title {
    font-weight: 600;
    font-size: 45px;
    color: var(--dark-color);
    margin-top: 10px;
}

.fact-sub-title {
    font-weight: 600;
    font-size: 20px;
    color: var(--gray-color);
    margin-top: 5px;
}

.fact-box {
    height: 245px;
    padding: 35px;
    text-align: center;
    border: 2px solid var(--main-color);
    transition: .5s;
}

.fact-box:hover {
    transform: translateZ(-2px) scale(1.1);
}

/* Sponsors Section */
.sponsors {
    padding: 5rem 0;
}

.sponsors-title {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 25px;
    color: var(--dark-color);
}

.sponsors-description {
    text-align: center;
    color: var(--gray-color);
    font-weight: 400;
    font-size: 16px;
}
.sponsorship{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
}
.brand img{
  filter: grayscale(100%);
}